@import url("style-only-footer.css");
@import url("style-only-navigation-bar.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  height: auto;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(86,200,130);
  background: linear-gradient(0deg, rgb(24,25,26) 25%,  rgba(27,28,37,1) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 25px;
  padding:0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

hr {
  margin: 10px 0;
}
.go-column {
  display: flex;
  flex-direction: column;
} .go-row    {
  display: flex;
  flex-direction: row;
} .align-right {
  margin-left: auto;
} .align-center {
align-self: center;
align-items: center;
} .justify-center {
  display: flex;
  justify-content: center;
} .text-center {
  text-align: center;
} .go-middle {
  margin: 0 auto;
}

.title1 {
  border-bottom: 1px solid #fff;
  display: flex;
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}
/** POST CATEGORIES */
.home-categories {
  height: 50px;
  width: 100vh;
  margin: 0 auto;
  transition: all 0.2s ease;
}

.home-category-name {
  transition: all 0.2s ease;
  margin: 0 5px;
}

.home-category-name a {
  color: #fff;
  padding: 5px 10px;
  margin: 5px 5px 0;
  font-size: 20px;
  font-family: monospace;

  border: 2px solid;
  border-color: rgb(155, 155, 155);
  border-radius: 5px;
  transition: all 0.2s ease;
}

.home-category-name a:hover {
  background: #2b2b2b;
  border-color: rgb(155, 155, 155);
}

/* Admin Post */

.main-newspost-container {
  padding: 25px;
  margin: 20px auto;
  width: 100vh;
  min-height: 200px;
  height: auto;
  background: #1b1b1b;
  background: #1d1d1d; /** Couldn't decide which color soo... */
  border: 2px solid rgb(120, 121, 121);
  border-radius: 25px;
  color:white
}

.newspost-top {
  height: 50px;
}

img[alt='Admin-Profile-Pic'] {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#admin-name {
  margin: 0 15px 0 20px;
}

#admin-category-indicator {
  margin: 0 20px 0 15px;
}

.admin-dropdown-post-menu-button {
  background-color:transparent;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:17px;
  text-decoration:none;
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


.admin-dropdown-post-menu-container {
  padding: 10px;
  position: relative;
  margin-left: auto;
}

.admin-dropdown-post-menu-container ul {
  margin: -45px 0 0 90px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: auto;
  background: white;
  left: 0px;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.admin-list-button, .admin-list-button a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all 0.2s ease;
} .admin-list-button a {
padding: 10px;
}


.button-edit:hover {
background-color: rgb(79, 245, 87);
}
.button-remove:hover {
background-color: rgb(255, 57, 57);
}

.admin-dropdown-post-menu-container a {
color: black;
}

.admin-dropdown-post-menu-button:focus + ul {
opacity: 1;
pointer-events: all;
transform: translateY(0px);
}

.admin-hr1 {
  margin-bottom: 0;
border-top: 1px solid #38423b;
border: 0;
height: 1px;
background: #333;
background-image: linear-gradient(to right, #38423b, #ccc, #38423b);
}

#admin-content-post {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.admin-hr2 {
margin: 5px 0;
}

.admin-comment-button {
  display: flex;
  width: fit-content;
  padding: 5px 20px;
  margin: 0 auto;
  color: #fff;
  transition: all 0.2s ease;
}

.admin-comment-button:hover {
  color: #000;
  background: #fff;
}


.category-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.category-links a {
  color: white;
  padding: 5px 10px;
  margin: 5px 5px 0;
  font-size: 20px;
  font-family: monospace;
  border: 2px solid;
  border-color: rgb(155, 155, 155);
  border-radius: 5px;
  transition: all 0.2s ease;
}

.category-links a:hover {
background: #2b2b2b;
}


img[alt='Admin-coment-Profile-Pic'] {
width: 40px;
height: 40px;
border-radius: 100%;
margin-bottom: auto;
margin-top: 6px;
}

.comment-content {
margin: 0 10px;
padding: 5px 10px 5px;
background: rgb(73, 73, 75);
border-radius: 20px;
width: 90%;
}

#comenter-name, #comenter-content {
  font-size: 20px;
}

#comenter-content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.dropdown-comment-menu-container {
  padding: 10px;
  position: relative;
  margin-left: auto;
}

.dropdown-comment-menu-button {
  background-color:transparent;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:17px;
  text-decoration:none;
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.dropdown-comment-menu-container ul {
  margin: -45px 0 0 90px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: auto;
  background: white;
  left: 0px;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
    pointer-events: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

.commenter-list-button, .commenter-list-button a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
} .commenter-list-button a {
  padding: 10px;
}


.button-edit:hover {
  background-color: rgb(79, 245, 87);
}
.button-remove:hover {
  background-color: rgb(255, 57, 57);
}

.dropdown-comment-menu-container a {
  color: black;
}

.dropdown-comment-menu-button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
/** PAGINATION */

.home-pagination-main-container {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.pagination-list-link  {
  padding: 3px 10px;
  color: white;
  background: transparent;
  text-decoration: none;
  text-align: center;
  border: 1px solid ;
  margin: 0 5px;
  width: fit-content;
  transition: all 0.2s ease;
}

.pagination-list-link:hover {
  background-color: #fff;
  color: #000;
}

.pagination-list-link a {
  color: #fff;
  transition: all 0.2s ease;
}

.pagination-list-link:hover > .list-link a{
  color: #000;
}


.jump-arrow-page {
  height: auto;
  color: white;
  background: transparent;
  text-decoration: none;
  text-align: center;
  border: 1px solid ;
  margin: 5px;
  width: fit-content;
  transition: all 0.2s ease;
}

.arrow-left {
  margin: 0 5px 0 0; 
}

.arrow-seperator {
  height: 100%;
  pointer-events: none;
}
.arrow-right {
  margin: 0 0 0 5px; 
}

.arrow a {
  color: #fff;
  padding: 8px 10px;
  transition: all 0.2s ease;
}

.arrow a:hover {
  color: #000;
  background: #fff;
}