@import url("style-only-footer.css");
@import url("style-only-navigation-bar.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

html {
  height: auto;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(0deg, rgb(24,25,26) 25%,  rgba(27,28,37,1) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 25px;
  padding:0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

.go-column {
    display: flex;
    flex-direction: column;
}.go-row    {
    display: flex;
    flex-direction: row;
}.align-right {
    margin-left: auto;
}.align-center {
    align-self: center;
    align-items: center;
}.justify-center {
    justify-content: center;
}

#title1 {
    font-family: monospace;
    margin: 0 auto;
}

.main-content-wrapper {
    padding: 10px;
}

.content-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid;
    border-color: #ccc;
}

.content-table tbody {
    border:1px solid;
    border-color: inherit;
}

td,  th {
    padding: 8px;
    border:1px solid;
    border-color: inherit;
}

tr:nth-child(odd) > tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(even){background-color: #f1f1f1; color: black;}
tr:nth-child(even) > td {
    color: black;
}

tr:nth-child(odd) > td {
    background-color: #fff;
    color: black;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color:#000;
}

h3 {
    font-family: monospace;
    margin: 10px 10px;
    text-align: center;
    font-size: 35px;
}

.content-html-basics {
    padding: 25px;
    background: rgba(50, 50, 50, 0.5);
} .content-html-basics2 {
    padding: 25px;
    margin-bottom: 25px;
    background: rgba(50, 50, 50, 0.5);
}

.content-html-header-tags {
    padding: 25px;
    background: rgba(50, 50, 50, 0.5);
    margin-bottom: 20px;
} .content-html-header-tags2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-html-tags, .content-html-tags1 {
    padding: 25px;
    background: hsla(0, 0%, 20%, 0.5);
} .content-html-tags1:last-child {
    margin-bottom: 20px;
}




/** THIS IS FOR THE CSS TUTORIAL SECTION */

.content-css-syntax {
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
} .content-css-syntax{
    margin: 0 0 20px;
} .content-css-syntax2, .content-css-syntax3 {
    margin: 20px 0 0;
} 

#content-css-color, #content-css-color-blue, #content-css-color-gray, #content-css-color-red, #content-css-color-f1f1f1 {
    background: #2b2b2b;
    padding: 0 5px;
    cursor: pointer;
} #content-css-color-red, #content-css-color-f1f1f1  {
    color: red;
} #content-css-color {
    color: #cb7832;
} #content-css-color-blue {
    color: #6896ba;
} #content-css-color-gray {
    color: #bababa;
} 

.content-css-syntax3 {
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(50, 50, 50, 0.5);
}

.content-css-selectors {
    padding: 25px;
    margin: 10px 0;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: row;
}

.content-css-inclusion, .content-css-inclusion2, .content-css-inclusion3, .content-css-inclusion4, .content-css-inclusion5, .content-css-inclusion6, .content-css-inclusion7 {
    padding: 25px;
    background: hsla(0, 0%, 20%, 0.5);
} .content-css-inclusion2, .content-css-inclusion3, .content-css-inclusion4, .content-css-inclusion5, .content-css-inclusion6, .content-css-inclusion7 {
    margin-bottom: 10px;
} .content-css-inclusion6 {
    margin: 10px 0;
}

/** The container that is gonna display the results **/
.content-code-result{
    background: white;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
} .content-code-result h1 {
    font-weight: bold;
    font-size: 2em;
} .content-code-result h1,.content-code-result h2, .content-code-result h3,.content-code-result h4,.content-code-result h5,.content-code-result h6, .content-code-result p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
} .content-code-result h3 {
    text-align: unset;
    margin: 0;
} .tutorial-jump-page {
    margin: 0 10px;
} .tutorial-jump-page a {
    padding: 10px 16px;
    color: white;
    background: #1b1c25;
    border: 1px solid;
    transition: all 0.2s ease ;
} .tutorial-jump-page a:hover {
    background-color: #fff;
    color: #000;
}
