@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sriracha', cursive;
  background-color: #1B1B32;
  color: #f5f6d7;
  font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A0A23;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: #fff;
  color: #0a0a23;
}

.active {
  background-color: #fff;
  color: #0a0a23;
}

h1 {
  font-size: 70px;
}

.project {
  border: 3px solid white;
  border-radius: 10%;
  width: 600px;
  height: auto;
  position: absolute;
  right: 900px;

}

.team {
  border: 3px solid white;
  border-radius: 10%;
  width: 630px;
  height: auto;
  position: absolute;
  left: 900px;
  
}

.container {
  text-align: center;
}

.container-2{
  display: flex;
}

.user-1, .user-2, .user-3 {
  width: 25vw;
  margin: 20px;
}

.fa {
  float: left;
}

.user-1 {
  float: right;
  display: block;
  border: 2px solid white;
  border-radius: 15%;
}

.user-2 {
  float: left;
  display: block;
  border: 2px solid white;
  border-radius: 15%;
}

.user-3 {
  float: right;
  display: block;
  border: 2px solid white;
  border-radius: 15%;
}

.title, .title-1 {
  font-size: 35px;
}